/////ABOUT

//About_Banner#
#about_banner {
  width: 100%;
  @include bg-size(cover);
  background-position: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  //text
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    line-height: normal;
    letter-spacing: 1px;
    @include weight(bold);
    color: $base-color;
    text-shadow: 2px 2px $primary-color;
    text-transform: uppercase;
  }
  //Notebook
  @include notebook {
    .text {font-size: 30px;}
  }
  //X-Tablet
  @include x-tablet {
    .text {font-size: 25px;}
  }
  //Small
  @include small {
    .text {font-size: $size;}
  }
}

//Our_About#
#our_about {
  width: 100%;
  padding: 80px 0 60px 0;
  //our_about
  .our_about {
    &_image {
      img {width: 100%;}
    }
    //&_text
    &_text {
      h6 {
        color: $secondary-color;
        @include weight(bold);
        line-height: normal;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      p {
        padding-top: 20px;
        color: $three-color;
        line-height: 22px;
        letter-spacing: 0.3px;
      }
    }
    //Notebook
    @include notebook {
      &_text {margin-top: 30px}
    }
    //Mobil
    @include mobil {
      //&_text
      &_text {
        h6 {
          font-size: 16px;
        }
        p {
          padding-top: 15px;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
    //X-Small
    @include x-small {
      //&_text
      &_text {
        h6 {
          font-size: 12px;
        }
        p {
          padding-top: 15px;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

//About_Counters#
#about_counters {
  width: 100%;
  padding: 80px 0 40px 0;
  background-color: $four-color;
  //title
  .title {
    display: inline-block;
    padding: 7px 50px;
    background-color: $secondary-color;
    @include weight(bold);
    line-height: normal;
    text-transform: uppercase;
    font-size: 20px;
    //X-Tablet
    @include x-tablet {
      font-size: 16px;
      padding: 7px 40px 5px 40px;
    }
    //Small
    @include small {
      font-size: 12px;
      padding: 5px 20px 4px 20px;
    }
  }
  //about_counters
  .about_counters {
    padding-top: 50px;
    //&_item
    &_item {
      margin-bottom: 40px;
      .count {
        color: $base-color;
        font-size: 35px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -15px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $secondary-color;
        }
      }
      .name {
        padding-top: 30px;
        color: $three-color;
        text-transform: uppercase;
        @include weight(bold);
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.4px;
      }
    }
  }
  //Tablet
  @include tablet {
    .about_counters {
      &_item {
        .count {font-size: 25px;}
        .name {font-size: $size;}
      }
    }
  }
  //Mobil
  @include mobil {
    .about_counters {
      &_item {
        .count {
          font-size: 20px;
          &::before {bottom: -15px;}
        }
        .name {padding-top: 30px; font-size: 12px; line-height: 19px;}
      }
    }
  }
}