/////SERVİCES

//Services_Detail_Banner#
#services_detail_banner {
  width: 100%;
  @include bg-size(cover);
  background-position: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  //text
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    line-height: normal;
    letter-spacing: 1px;
    @include weight(bold);
    color: $base-color;
    text-shadow: 2px 2px $primary-color;
    text-transform: uppercase;
  }
  //Notebook
  @include notebook {
    .text {font-size: 30px;}
  }
  //X-Tablet
  @include x-tablet {
    .text {font-size: 25px;}
  }
  //Small
  @include small {
    .text {font-size: $size;}
  }
}

//Services_Detail#
#services_detail {
  width: 100%;
  padding: 80px 0 80px 0;
  //services_detail
  .services_detail {
    //%_image
    &_image {
      img {width: 100%}
    }
    //&_text
    &_text {
      h6 {
        line-height: normal;
        text-transform: uppercase;
        @include weight(bold);
        font-size: 20px;
        letter-spacing: 1px;
        color: $secondary-color;
      }
      p {
        padding-top: 13px;
        color: $three-color;
        font-size: $size;
        line-height: 20px;
      }
    }
    //Notebook
    @include notebook {
      &_text {margin-top: 30px}
    }
    //X-Tablet
    @include x-tablet {
      &_text {
        h6 {font-size: 16px}
      }
    }
    //Small
    @include small {
      &_text {
        h6 {font-size: $size}
        p {
          padding-top: 10px;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

//Services_Bottom#
#services_bottom {
  width: 100%;
  padding: 50px 0 50px 0;
  //title
  .title {
    display: inline-block;
    padding: 7px 50px;
    background-color: $secondary-color;
    @include weight(bold);
    line-height: normal;
    text-transform: uppercase;
    font-size: 20px;
    //X-Tablet
    @include x-tablet {
      font-size: 16px;
      padding: 7px 40px 5px 40px;
    }
    //Small
    @include small {
      font-size: 12px;
      padding: 5px 20px 4px 20px;
    }
  }
  //services_bottom
  .services_bottom {
    padding-top: 50px;
    position: relative;
    //&_item
    &_item {
      img {width: 100%}
      h6 {
        padding-top: 20px;
        line-height: normal;
        a {
          text-transform: uppercase;
          @include weight(bold);
          font-size: 16px;
          color: $secondary-color;
        }
      }
      p {
        padding-top: 12px;
        color: $three-color;
        font-size: $size;
        line-height: 22px;
        display: -webkit-box;
        -webkit-line-clamp: 3; /*Kaç Stırda sınırlamak istiyorsanız */
        -webkit-box-orient: vertical;
        overflow:hidden;
      }
      button {
        margin-top: 20px;
        background-color: $secondary-color;
        padding: 10px 20px;
        a {
          color: $four-color;
          text-transform: uppercase;
          @include weight(bold);
        }
      }
    }
    //Mobil
    @include mobil {
      padding-top: 50px;
      &_item {
        h6 {
          padding-top: 20px;
          a {font-size: 12px;}
        }
        p {
          padding-top: 8px;
          font-size: 12px;
          line-height: 18px;
        }
        button {
          margin-top: 15px;
          padding: 5px 10px;
          a {font-size: 12px; line-height: normal}
        }
      }
    }
    //owl-dots
    .owl-dots {
      margin-top: 30px;
      .owl-dot {
        span {
          width: 25px;
          height: 7px;
          background-color: $primary-color;
          @include transition(0.4s);
        }
      }
      .active {
        span {
          width: 40px;
          height: 7px;
          background-color: $secondary-color;
          @include transition(0.4s);
        }
      }
    }
  }
}